#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91:not(.buttonColor-7qQbGO) {
    background-color: rgba(var(--blurple));
    color: var(--default-white);
}
#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91:not(.buttonColor-7qQbGO):not([disabled]):hover {
    background-color: var(--blurple-filled-hover);
}
#app-mount .lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: rgba(var(--green));
    color: var(--default-white);
}
#app-mount .lookFilled-1Gx00P.colorGreen-29iAKY:not([disabled]):hover {
    background-color: var(--green-filled-hover);
}
#app-mount .lookFilled-1Gx00P.colorYellow-2JqYwt {
    background-color: rgba(var(--yellow));
    color: var(--default-white);
}
#app-mount .lookFilled-1Gx00P.colorYellow-2JqYwt:not([disabled]):hover {
    background-color: var(--yellow-filled-hover);
}
#app-mount .lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: rgba(var(--red));
    color: var(--default-white);
}
#app-mount .lookFilled-1Gx00P.colorRed-1TFJan:not([disabled]):hover {
    background-color: var(--red-filled-hover);
}
#app-mount .lookFilled-1Gx00P.colorGrey-2DXtkV {
    background-color: rgba(var(--grey));
    color: var(--default-white);
}
#app-mount .lookFilled-1Gx00P.colorGrey-2DXtkV:not([disabled]):hover {
    background-color: var(--grey-filled-hover);
}
#app-mount .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: rgba(var(--primary));
    color: var(--default-white);
}
#app-mount .lookFilled-1Gx00P.colorPrimary-3b3xI6:not([disabled]):hover {
    background-color: var(--primary-filled-hover);
}
#app-mount .lookFilled-1Gx00P.colorLink-35jkBc {
    background-color: rgba(var(--link));
    color: var(--default-white);
}
#app-mount .lookFilled-1Gx00P.colorLink-35jkBc:not([disabled]):hover {
    background-color: var(--link-filled-hover);
}
#app-mount .lookFilled-1Gx00P.colorWhite-rEQuAQ {
    background-color: rgba(var(--white));
    color: var(--white-black);
}
#app-mount .lookFilled-1Gx00P.colorWhite-rEQuAQ:not([disabled]):hover {
    background-color: var(--white-filled-hover);
}
#app-mount .lookFilled-1Gx00P.colorBlack-1jwPVL {
    background-color: rgba(var(--black));
    color: var(--default-white);
}
#app-mount .lookFilled-1Gx00P.colorBlack-1jwPVL:not([disabled]):hover {
    background-color: var(--black-filled-hover);
}

#app-mount .lookGhost-2Fn_0- {
    opacity: var(--default-ghost-opacity);
}
#app-mount .lookGhost-2Fn_0-:hover {
    opacity: 1;
}
#app-mount .lookGhost-2Fn_0-.colorBrand-3pXr91 {
    background-color: rgba(var(--blurple), 0.1);
    color: rgba(var(--blurple));
}
#app-mount .lookGhost-2Fn_0-.colorGreen-29iAKY {
    background-color: rgba(var(--green), 0.1);
    color: rgba(var(--green));
}
#app-mount .lookGhost-2Fn_0-.colorYellow-2JqYwt {
    background-color: rgba(var(--yellow), 0.1);
    color: rgba(var(--yellow));
}
#app-mount .lookGhost-2Fn_0-.colorRed-1TFJan {
    background-color: rgba(var(--red), 0.1);
    color: rgba(var(--red));
}
#app-mount .lookGhost-2Fn_0-.colorGrey-2DXtkV {
    background-color: rgba(var(--grey), 0.1);
    color: rgba(var(--grey));
}
#app-mount .lookGhost-2Fn_0-.colorPrimary-3b3xI6 {
    background-color: rgba(var(--primary-white), 0.1);
    color: rgba(var(--primary-white));
}
#app-mount .lookGhost-2Fn_0-.colorLink-35jkBc {
    background-color: rgba(var(--link), 0.1);
    color: rgba(var(--link));
}
#app-mount .lookGhost-2Fn_0-.colorWhite-rEQuAQ {
    background-color: rgba(var(--white), 0.1);
    color: rgba(var(--white));
}
#app-mount .lookGhost-2Fn_0-.colorBlack-1jwPVL {
    background-color: rgba(var(--black), 0.1);
    color: rgba(var(--black));
}

#app-mount .lookInverted-2D7oAl:not(.colorWhite-rEQuAQ) {
    background-color: var(--default-inverted);
}
#app-mount .lookInverted-2D7oAl:not(.colorWhite-rEQuAQ):not([disabled]):hover {
    background-color: var(--default-inverted-hover);
}
#app-mount .lookInverted-2D7oAl.colorBrand-3pXr91 {
    color: rgba(var(--blurple));
}
#app-mount .lookInverted-2D7oAl.colorGreen-29iAKY {
    color: rgba(var(--green));
}
#app-mount .lookInverted-2D7oAl.colorYellow-2JqYwt {
    color: rgba(var(--yellow));
}
#app-mount .lookInverted-2D7oAl.colorRed-1TFJan {
    color: rgba(var(--red));
}
#app-mount .lookInverted-2D7oAl.colorGrey-2DXtkV {
    color: rgba(var(--grey));
}
#app-mount .lookInverted-2D7oAl.colorPrimary-3b3xI6 {
    color: rgba(var(--grey));
}
#app-mount .lookInverted-2D7oAl.colorLink-35jkBc {
    color: rgba(var(--link));
}
#app-mount .lookInverted-2D7oAl.colorWhite-rEQuAQ {
    color: rgba(var(--white));
}
#app-mount .lookInverted-2D7oAl.colorWhite-rEQuAQ:not([disabled]):hover {
    background-color: var(--white-inverted-hover);
}
#app-mount .lookInverted-2D7oAl.colorBlack-1jwPVL {
    color: rgba(var(--black));
}

#app-mount .lookLink-9FtZy-.colorBrand-3pXr91 {
    color: rgba(var(--blurple));
}
#app-mount .lookLink-9FtZy-.colorBrand-3pXr91:not([disabled]):hover .contents-18-Yxp {
    background-image: linear-gradient(0deg, transparent, transparent 1px, rgba(var(--blurple)) 0, rgba(var(--blurple)) 2px, transparent 0);
}
#app-mount .lookLink-9FtZy-.colorGreen-29iAKY {
    color: rgba(var(--green));
}
#app-mount .lookLink-9FtZy-.colorGreen-29iAKY:not([disabled]):hover .contents-18-Yxp {
    background-image: linear-gradient(0deg, transparent, transparent 1px, rgba(var(--green)) 0, rgba(var(--green)) 2px, transparent 0);
}
#app-mount .lookLink-9FtZy-.colorYellow-2JqYwt {
    color: rgba(var(--yellow));
}
#app-mount .lookLink-9FtZy-.colorYellow-2JqYwt:not([disabled]):hover .contents-18-Yxp {
    background-image: linear-gradient(0deg, transparent, transparent 1px, rgba(var(--yellow)) 0, rgba(var(--yellow)) 2px, transparent 0);
}
#app-mount .lookLink-9FtZy-.colorRed-1TFJan {
    color: rgba(var(--red));
}
#app-mount .lookLink-9FtZy-.colorRed-1TFJan:not([disabled]):hover .contents-18-Yxp {
    background-image: linear-gradient(0deg, transparent, transparent 1px, rgba(var(--red)) 0, rgba(var(--red)) 2px, transparent 0);
}
#app-mount .lookLink-9FtZy-.colorGrey-2DXtkV {
    color: rgba(var(--grey));
}
#app-mount .lookLink-9FtZy-.colorGrey-2DXtkV:not([disabled]):hover .contents-18-Yxp {
    background-image: linear-gradient(0deg, transparent, transparent 1px, rgba(var(--grey)) 0, rgba(var(--grey)) 2px, transparent 0);
}
#app-mount .lookLink-9FtZy-.colorPrimary-3b3xI6 {
    color: rgba(var(--primary-white));
}
#app-mount .lookLink-9FtZy-.colorPrimary-3b3xI6:not([disabled]):hover .contents-18-Yxp {
    background-image: linear-gradient(0deg, transparent, transparent 1px, rgba(var(--primary-white)) 0, rgba(var(--primary-white)) 2px, transparent 0);
}
#app-mount .lookLink-9FtZy-.colorLink-35jkBc {
    color: rgba(var(--link));
}
#app-mount .lookLink-9FtZy-.colorLink-35jkBc:not([disabled]):hover .contents-18-Yxp {
    background-image: linear-gradient(0deg, transparent, transparent 1px, rgba(var(--link)) 0, rgba(var(--link)) 2px, transparent 0);
}
#app-mount .lookLink-9FtZy-.colorWhite-rEQuAQ {
    color: rgba(var(--white));
}
#app-mount .lookLink-9FtZy-.colorWhite-rEQuAQ:not([disabled]):hover .contents-18-Yxp {
    background-image: linear-gradient(0deg, transparent, transparent 1px, rgba(var(--white)) 0, rgba(var(--white)) 2px, transparent 0);
}
#app-mount .lookLink-9FtZy-.colorBlack-1jwPVL {
    color: rgba(var(--black));
}
#app-mount .lookLink-9FtZy-.colorBlack-1jwPVL:not([disabled]):hover .contents-18-Yxp {
    background-image: linear-gradient(0deg, transparent, transparent 1px, rgba(var(--black)) 0, rgba(var(--black)) 2px, transparent 0);
}

#app-mount .lookOutlined-3sRXeN.colorBrand-3pXr91 {
    color: rgba(var(--blurple));
    border-color: rgba(var(--blurple));
}
#app-mount .lookOutlined-3sRXeN.colorBrand-3pXr91:active {
    background-color: rgba(var(--blurple), 0.1);
}
#app-mount .lookOutlined-3sRXeN.colorGreen-29iAKY {
    color: rgba(var(--green));
    border-color: rgba(var(--green));
}
#app-mount .lookOutlined-3sRXeN.colorGreen-29iAKY:active {
    background-color: rgba(var(--green), 0.1);
}
#app-mount .lookOutlined-3sRXeN.colorYellow-2JqYwt {
    color: rgba(var(--yellow));
    border-color: rgba(var(--yellow));
}
#app-mount .lookOutlined-3sRXeN.colorYellow-2JqYwt:active {
    background-color: rgba(var(--yellow), 0.1);
}
#app-mount .lookOutlined-3sRXeN.colorRed-1TFJan {
    color: rgba(var(--red));
    border-color: rgba(var(--red));
}
#app-mount .lookOutlined-3sRXeN.colorRed-1TFJan:active {
    background-color: rgba(var(--red), 0.1);
}
#app-mount .lookOutlined-3sRXeN.colorGrey-2DXtkV {
    color: rgba(var(--grey));
    border-color: rgba(var(--grey));
}
#app-mount .lookOutlined-3sRXeN.colorGrey-2DXtkV:active {
    background-color: rgba(var(--grey), 0.1);
}
#app-mount .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
    color: rgba(var(--primary-white));
    border-color: rgba(var(--primary-white));
}
#app-mount .lookOutlined-3sRXeN.colorPrimary-3b3xI6:active {
    background-color: rgba(var(--primary-white), 0.1);
}
#app-mount .lookOutlined-3sRXeN.colorLink-35jkBc {
    color: rgba(var(--link));
    border-color: rgba(var(--link));
}
#app-mount .lookOutlined-3sRXeN.colorLink-35jkBc:active {
    background-color: rgba(var(--link), 0.1);
}
#app-mount .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    color: rgba(var(--white));
    border-color: rgba(var(--white));
}
#app-mount .lookOutlined-3sRXeN.colorWhite-rEQuAQ:active {
    background-color: rgba(var(--white), 0.1);
}
#app-mount .lookOutlined-3sRXeN.colorBlack-1jwPVL {
    color: rgba(var(--black));
    border-color: rgba(var(--black));
}
#app-mount .lookOutlined-3sRXeN.colorBlack-1jwPVL:active {
    background-color: rgba(var(--black), 0.1);
}
