@mixin linkHover($color) {
    background-image: linear-gradient(0deg, transparent, transparent 1px, $color 0, $color 2px, transparent 0);
}

#app-mount .lookLink-9FtZy- {
    &.colorBrand-3pXr91 {
        color: rgba(var(--blurple));

        &:not([disabled]):hover .contents-18-Yxp {
            @include linkHover(rgba(var(--blurple)));
        }
    }
    &.colorGreen-29iAKY {
        color: rgba(var(--green));

        &:not([disabled]):hover .contents-18-Yxp {
            @include linkHover(rgba(var(--green)));
        }
    }
    &.colorYellow-2JqYwt {
        color: rgba(var(--yellow));

        &:not([disabled]):hover .contents-18-Yxp {
            @include linkHover(rgba(var(--yellow)));
        }
    }
    &.colorRed-1TFJan {
        color: rgba(var(--red));

        &:not([disabled]):hover .contents-18-Yxp {
            @include linkHover(rgba(var(--red)));
        }
    }
    &.colorGrey-2DXtkV {
        color: rgba(var(--grey));

        &:not([disabled]):hover .contents-18-Yxp {
            @include linkHover(rgba(var(--grey)));
        }
    }
    &.colorPrimary-3b3xI6 {
        color: rgba(var(--primary-white));

        &:not([disabled]):hover .contents-18-Yxp {
            @include linkHover(rgba(var(--primary-white)));
        }
    }
    &.colorLink-35jkBc {
        color: rgba(var(--link));

        &:not([disabled]):hover .contents-18-Yxp {
            @include linkHover(rgba(var(--link)));
        }
    }
    &.colorWhite-rEQuAQ {
        color: rgba(var(--white));

        &:not([disabled]):hover .contents-18-Yxp {
            @include linkHover(rgba(var(--white)));
        }
    }
    &.colorBlack-1jwPVL {
        color: rgba(var(--black));

        &:not([disabled]):hover .contents-18-Yxp {
            @include linkHover(rgba(var(--black)));
        }
    }
}
