#app-mount .lookOutlined-3sRXeN {
    &.colorBrand-3pXr91 {
        color: var(--blurple-text);
        border-color: var(--blurple-border);
    }
    &.colorGreen-29iAKY {
        color: var(--green-text);
        border-color: var(--green-border);
    }
    &.colorYellow-2JqYwt {
        color: var(--yellow-text);
        border-color: var(--yellow-border);
    }
    &.colorRed-1TFJan {
        color: var(--red-text);
        border-color: var(--red-border);
    }
    &.colorGrey-2DXtkV {
        color: var(--grey-text);
        border-color: var(--grey-border);
    }
    &.colorPrimary-3b3xI6 {
        color: var(--primary-white-text);
        border-color: var(--primary-border);
    }
    &.colorLink-35jkBc {
        color: var(--link-text);
        border-color: var(--link-border);
    }
}