:root {
    /* -------- DEFAULTS ---- */
    --default-white: #FFF;
    --default-black: #000;
    --default-inverted: #FFF;
    --default-inverted-hover: #F8F9FD;

    /* -------- BLURPLE ---- */
    --blurple-filled: rgba(114, 137, 218);
    --blurple-filled-hover: rgb(103, 123, 196);
    --blurple-ghost: rgba(114, 137, 218, 0.1);
    --blurple-border: var(--blurple-filled);
    --blurple-text: var(--blurple-filled);

    /* -------- GREEN ---- */
    --green-filled: rgb(67, 181, 129);
    --green-filled-hover: rgb(60, 163, 116);
    --green-ghost: rgba(67, 181, 129, 0.1);
    --green-border: var(--green-filled);
    --green-text: var(--green-filled);

    /* -------- YELLOW ---- */
    --yellow-filled: rgb(250, 166, 26);
    --yellow-filled-hover: rgb(225, 149, 23);
    --yellow-ghost: rgba(250, 166, 26, 0.1);
    --yellow-border: var(--yellow-filled);
    --yellow-text: var(--yellow-filled);

    /* -------- RED ---- */
    --red-filled: rgb(240, 71, 71);
    --red-filled-hover: rgb(216, 64, 64);
    --red-ghost: rgba(240, 71, 71, 0.1);
    --red-border: var(--red-filled);
    --red-text: var(--red-filled);

    /* -------- GREY ---- */
    --grey-filled: rgb(79, 84, 92);
    --grey-filled-hover: rgb(71, 76, 83);
    --grey-ghost: rgba(79, 84, 92, 0.1);
    --grey-border: var(--grey-filled);
    --grey-text: var(--grey-filled);

    /* -------- PRIMARY ---- */
    --primary-filled: rgb(79, 84, 92);
    --primary-filled-hover: rgb(114, 118, 125);
    --primary-ghost: rgba(255, 255, 255, 0.1);
    --primary-border: rgb(255, 255, 255);
    --primary-text: var(--primary-filled);
    --primary-white-text: var(--default-white);

    /* -------- LINK ---- */
    --link-filled: rgb(0, 176, 244);
    --link-filled-hover: rgb(1, 159, 221);
    --link-ghost: rgba(0, 176, 244, 0.1);
    --link-border: var(--link-filled);
    --link-text: var(--link-filled);
}

@import './main/import'
